/* td {
    border: 1px solid black;
}

tr {
    border: 1px solid blue;
}

table{
    color: blue;
    font-size: 20px;
    border: 1px solid black;
}


thead {
    color: green;
    font-size: 25px;
    
}

https://api.unsplash.com/photos/random?count=5
 */
